.cvbutton {
  color: #1d262e;
  padding: 4px 10px;
  margin: 0px 2px;
  border-radius: 20px;
  border: .5px #1d262e solid;
  cursor: pointer;
  background-color: #fafdfd;
  transition: background-color 0.3s ease;
  display: inline-flex;
  letter-spacing: 1px;

  text-decoration: none;
  font-size: 14px;
}

.cvbutton:hover {
  background-color: #1d262e;
  color: #fafdfd;
}

.cvbuttonGroup {
  float: inline-end;
  margin-right: 8px;

}

/* RESPONSIVE */

/* Media query para pantallas de xxs a sm */
@media only screen and (max-width: 784px) {

  .cvbuttonGroup {
    margin: 0 auto;
    margin-bottom: 0px;
    top: 0;
    z-index: 999;
    position: relative;
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    padding: 0;
    float: none;
    align-items: inherit;
    text-align: center;
    margin-bottom: 10px;
  }
}