.filterButtons {
  display: inline-block;
  text-align: center;
  font-size: 0.75rem; /* Ajustado a rem en vez de px */
  margin-bottom: 1.25rem; /* Ajuste relativo para el margen inferior */
  margin-left: 0.5rem; /* Ajuste relativo para el margen izquierdo */
}

.tagButton {
  color: #312F2F;
  padding: 0.3125rem 1.125rem; /* Usar rem para padding */
  margin: 0 0.125rem; /* Ajustar el margen en rem */
  border-radius: 1.25rem; /* Borde redondeado con rem */
  cursor: pointer;
  background-color: #E3EAF2;
  transition: color 0.3s ease;
  letter-spacing: 0.0625rem; /* Espaciado entre letras con rem */
}
.tagButton svg {  /* Si estás usando íconos de font-awesome o similares */
  color: #312F2F !important; /* Fuerza el color a mantenerse constante */
  transition: color 0.3s ease;
}

.Frontend {
  border: .5px solid #04d9ff;
}

.Backend {
  border: .5px solid #043ded;
}

.Personal {
  border: .5px solid #ff11ff;
}

.Inicio {
  border: .5px solid #312F2F;
}

.Frontend:hover {
  color: #04d9ff;
}

.Backend:hover {
  color: #043ded;
}

.Personal:hover {
  color: #ff11ff;
}

.Inicio:hover {
  color: #312F2F;
}

.Frontend.active {
  color: #E3EAF2;
  background-color: #04d9ff;
}

.Backend.active {
  color: #E3EAF2;
  background-color: #043ded;
}

.Personal.active {
  color: #E3EAF2;
  background-color: #ff11ff;
}

.Inicio.active {
  color: #E3EAF2;
  background-color: #312F2F;
}