.filterButtons {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    background-color: #E3EAF2;
}

.tagButton {
    color: #312F2F;
    padding: 5px 20px;
    margin: 0 10px;
    border: .5px #312F2F solid;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .frontend {
    border: 1px solid #70D7C7;
  }
  .backend{
    border: 1px solid #0D6496;
  }
  .personal{
    border: 1px solid #AD85A2;
  }
  .inicio{
    border: 1px solid #312F2F;
  }

  .frontend .tagButton:hover {
    background-color: #70D7C7;
  }
  .backend .tagButton:hover {
    background-color: #70D7C7;
  }
  .personal .tagButton:hover {
    background-color: #70D7C7;
  }
  .inicio .tagButton:hover {
    background-color: #70D7C7;
  }

  .frontend .active {
    color: #E3EAF2;
    background-color: #70D7C7;
  }
  .backend .active {
    color: #E3EAF2;
    background-color: #70D7C7;
  }
  .personal .active {
    color: #E3EAF2;
    background-color: #70D7C7;
  }
  .inicio .active {
    color: #E3EAF2;
    background-color: #70D7C7;
  }
