.filterButtons {
    display: inline-block;
    text-align: center;
    font-size: 12px;
  }

.tagButton {
    color: #312F2F;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #E3EAF2;
    transition: background-color 0.3s ease;
  }
  
  .Frontend {
    border: 1px solid #70D7C7;
  }
  .Backend{
    border: 1px solid #0D6496;
  }
  .Personal{
    border: 1px solid #AD85A2;
  }
  .Inicio{
    border: 1px solid #312F2F;
  }

  .Frontend .tagButton:hover {
    background-color: #70D7C7;
  }
  .Backend .tagButton:hover {
    background-color: #70D7C7;
  }
  .Personal .tagButton:hover {
    background-color: #70D7C7;
  }
  .Inicio .tagButton:hover {
    background-color: #70D7C7;
  }

  .Frontend .active {
    color: #E3EAF2;
    background-color: #70D7C7;
  }
  .Backend .active {
    color: #E3EAF2;
    background-color: #70D7C7;
  }
  .Personal .active {
    color: #E3EAF2;
    background-color: #70D7C7;
  }
  .Inicio .active {
    color: #E3EAF2;
    background-color: #70D7C7;
  }
