.gridItem {
  overflow: hidden;
  border: .5px #312F2F solid;
  border-radius: 40px;
}

.gridItem img {
  z-index: -1;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  display: block;
}

.gridItemBox {
  padding: 20px 9%;
  display: block;
}

.profilePic img {
  z-index: -1;
  width: 100%;
}

.iconTags {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.gridTags{
  display: inline-flex;
  gap: 10px;
}

.title {
  cursor: pointer;
}

.ItemModalButton {
  z-index: 1000;
}

/* PLUS ICON */
.plusIcon {
  font-size: x-large;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 20px;
  border: 0.5px solid #312F2F;
  width: 35px;
  height: 35px;
  display: flex;
  /* Centrado con flexbox */
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.plusIcon span {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  line-height: 1;
  /* Asegura que el símbolo no se desplace verticalmente */
  padding: auto;
  margin: auto;
}

.plusIcon:hover {
  color: #E3EAF2;
  background-color: #312F2F;
}

h2 {
  line-height: 30px;
}

/* styleClasses */

.profile {
  border: none !important;
  padding-top: 20px;
}

.profile h2,
.personal h2 {
  line-height: normal;
  letter-spacing: normal;
  font-size: 24px;
}

.profile img {
  width: 100%;
  /* Se asegura que la imagen se ajuste a su contenedor */
  max-width: 250px;
  /* Ancho máximo deseado */
  height: auto;
  /* Mantiene la proporción de la imagen */
  max-height: 250px;
  /* Altura máxima */
  display: block;
  margin: 0 auto;
  object-fit: cover;
  /* Asegura que la imagen llene el contenedor sin distorsionarse */
  z-index: -1;
}

.profile .plusIcon {
  top: 2px;
  left: 35px;
}

.profile .title {
  padding-bottom: 12px;

}

.hero .imgURLbox {
  height: 50%;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display: inline-flex;
}

.hero .imgURL {
  width: fit-content;
  height: 100%;
  max-width: 750px;
}

.hero-w.gridItem {
  display: inline-flex !important;
}

.hero-w .gridItemBox {
  padding: 35px 9%;
  margin: 0;
  width: 50%;
  box-sizing: border-box;
}

.hero-w .imgURLbox {
  height: 100%;
  overflow: hidden;
  width: 50%;
  margin: 0 auto;
  display: inline-flex;
}

.hero-w .imgURL {
  width: fit-content;
  height: 100%;
  max-width: 750px;
}

/* Media query para pantallas de xxs a sm */
@media only screen and (max-width: 1012px) {
  .hero-w .imgURLbox {
    display: none;
  }

  .hero-w .gridItemBox {
    padding: 35px 9%;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 784px) {
  .profile {
    margin-top: 46px;
  }

  .profile .gridItemBox {
    padding: 0px 7%;
  }


}

/* Media query para pantallas de xxs a sm */
@media only screen and (max-width: 421px) {
  .gridItemBox {
    padding: 0 8%;
  }

  .profile .gridItemBox {
    padding: 0px;
  }

  .profile h2 {
    font-size: 1.375rem;
  }

  .profile .plusIcon {
    top: 14px;
    left: 14px;
  }
}