
.gridItem {
  overflow: hidden;
  border: .5px #312F2F solid;
  border-radius: 40px;
}

.gridItem img {
  z-index: -1;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  display: block;
}

.gridItemBox {
  margin: 35px;
  display: block;
}

.profile {
  border: none !important;
  padding-top: 20px;
}

.profile .title {
  padding: 0 3%;
}

.profile img {
  z-index: -1;
  width: 60%;
  height: fit-content;
  margin: 0 auto;
  display: block;
}

.profilePic img {
  z-index: -1;
  width: 100%;
}

.ItemModalButton {
  z-index: 1000;
}

.tag {
  text-align: center;
  font-size: 14px;
  color: #312F2F;
  display: inline-block;
  padding: 5px 20px;
  margin-right: 10px;
  border: .5px #312F2F solid;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

/* Puedes tener estilos específicos si es necesario */

.tag-Frontend {
  border: .5px solid #70D7C7;
  color: #70D7C7;
}

.tag-Backend {
  border: .5px solid #0D6496;
  color: #0D6496;
}

.tag-Personal {
  border: .5px solid #AD85A2;
  color: #AD85A2;
}

.tag-Inicio {
  border: .5px solid #312F2F;
  color: #312F2F;
}

.iconTags {
  display: inline-flex;
}

/* GITHUB ICON */

.gitIcon {
  display: inline-block; 
  font-size: 18px; 
  background-color: transparent;
  color: #312F2F;
  border-radius: 20px;
  text-decoration: none; 
  margin-right: 15px; 
  height: 28px;
  width: 28px;
  box-sizing: border-box;
  padding: 5px;
  cursor: pointer;
}

.gitIcon:hover {
  background-color: #312F2F;
  color: #E3EAF2;
}

/* Si quieres asegurarte de que el texto del enlace no se muestre, aunque no debería */
.gitIcon a {
  visibility: hidden;
}

/* PLUS ICON */
.iconButton{
    border: none;
    font-size: 35px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}