/* GITHUB ICONS */

.Icon {
    display: inline-block;
    font-size: 18px;
    color: #fafdfd;
    background-color: #1d262e;
    border-radius: 20px;
    text-decoration: none;
    margin: 15px;
    height: 28px;
    width: 28px;
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.Icon:hover {
    background-color: #fc440f;
    color: #fafdfd;
}

/* Si quieres asegurarte de que el texto del enlace no se muestre, aunque no debería */
.Icon a {
    visibility: hidden;
}
/* GRID ITEM */
.gitIconFrontGI {
    display: inline-block;
    font-size: 29px;
    background-color: transparent;
    color: #f62dae;
    border-radius: 20px;
    text-decoration: none;
    margin: 0;
    height: 28px;
    width: 28px;
    box-sizing: border-box;
    cursor: pointer;
    transition: color 0.3s ease;
}

.gitIconFrontGI:hover {
    color: #1d262e;
}

/* Si quieres asegurarte de que el texto del enlace no se muestre, aunque no debería */
.gitIconFrontGI a {
    visibility: hidden;
}

.gitIconBackGI {
    display: inline-block;
    font-size: 29px;
    background-color: transparent;
    color: #3185fc;
    border-radius: 20px;
    text-decoration: none;
    margin: 0;
    height: 28px;
    width: 28px;
    box-sizing: border-box;
    cursor: pointer;
    transition: color 0.3s ease;
}

.gitIconBackGI:hover {
    color: #1d262e;
}

/* Si quieres asegurarte de que el texto del enlace no se muestre, aunque no debería */
.gitIconBackGI a {
    visibility: hidden;
}
/* MODAL */
.gitIconFront {
    display: inline-block;
    font-size: 29px;
    background-color: transparent;
    color: #f62dae;
    border-radius: 20px;
    text-decoration: none;
    margin: 15px;
    height: 28px;
    width: 28px;
    box-sizing: border-box;
    cursor: pointer;
    transition: color 0.3s ease;
}

.gitIconFront:hover {
    color: #1d262e;
}

/* Si quieres asegurarte de que el texto del enlace no se muestre, aunque no debería */
.gitIconFront a {
    visibility: hidden;
}

.gitIconBack {
    display: inline-block;
    font-size: 29px;
    background-color: transparent;
    color: #3185fc;
    border-radius: 20px;
    text-decoration: none;
    margin: 15px;
    height: 28px;
    width: 28px;
    box-sizing: border-box;
    cursor: pointer;
    transition: color 0.3s ease;
}

.gitIconBack:hover {
    color: #1d262e;
}

/* Si quieres asegurarte de que el texto del enlace no se muestre, aunque no debería */
.gitIconBack a {
    visibility: hidden;
}


/* RESPONSIVE */

@media only screen and (max-width: 784px) {
    .gitIconBack {
        font-size: 40px;
        height: 40px;
        width: 40px;
    }
    
    .gitIconFront {
        font-size: 40px;
        height: 40px;
        width: 40px;
    }

    .Icon {
        display: inline-block;
        font-size: 18px;
        border-radius: 20px;
        text-decoration: none;
        margin: 15px;
        height: 40px;
        width: 40px;
        padding: 11px;
    
    }
}
    @media only screen and (max-width: 421px) {}
