/* GITHUB ICONS */

.gitIcon {
    display: inline-block;
    font-size: 18px;
    background-color: transparent;
    color: #312F2F;
    border-radius: 20px;
    text-decoration: none;
    margin-right: 15px;
    height: 28px;
    width: 28px;
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
}

.gitIcon:hover {
    background-color: #312F2F;
    color: #E3EAF2;
}

/* Si quieres asegurarte de que el texto del enlace no se muestre, aunque no debería */
.gitIcon a {
    visibility: hidden;
}

.gitIconFront {
    display: inline-block;
    font-size: 24px;
    background-color: transparent;
    color: #04d9ff;
    border-radius: 20px;
    text-decoration: none;
    margin-right: 15px;
    height: 28px;
    width: 28px;
    box-sizing: border-box;
    padding: 2px;
    cursor: pointer;
}

.gitIconFront:hover {
    background-color: #04d9ff;
    color: #E3EAF2;
}

/* Si quieres asegurarte de que el texto del enlace no se muestre, aunque no debería */
.gitIconFront a {
    visibility: hidden;
}

.gitIconBack {
    display: inline-block;
    font-size: 24px;
    background-color: transparent;
    color: #043ded;
    border-radius: 20px;
    text-decoration: none;
    margin-right: 15px;
    height: 28px;
    width: 28px;
    box-sizing: border-box;
    padding: 2px;
    cursor: pointer;
}

.gitIconBack:hover {
    background-color: #043ded;
    color: #E3EAF2;
}

/* Si quieres asegurarte de que el texto del enlace no se muestre, aunque no debería */
.gitIconBack a {
    visibility: hidden;
}