.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  overflow-y: auto;
}

/* Estilos para el contenido del modal */
.modalContent {
  width: 75%;
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  background: #E3EAF2;
  z-index: 1100;
}

/* Cuerpo del modal */
.modalBody {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  line-height: normal;
}

.imgCaption {
  padding: 0 10% 20px;
}

/* Para el contenido adicional dentro del modal que puede necesitar scroll */
.extraContent {
  max-height: 80vh;
  /* Limita la altura del contenido extra para hacer scroll */
  overflow-y: auto;
  /* Permite scroll solo dentro del área extra */
}

/* Bloquea el scroll de la página cuando el modal está abierto */
.bodyModalOpen {
  overflow: hidden;
}


/* IMGS GALLERY */
.imgModal {
  width: 100%;
}

/* CLOSE BTN */
.closeModal {
  font-size: 18px;
  position: fixed;
  top: 17px;
  right: 20px;
  padding-top: 5px;
  background-color: #E3EAF2;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  width: 35px;
  height: 35px;
  transform: rotate(45deg);
  transition: background-color 0.3s ease;
}

.closeModal:hover {
  color: #E3EAF2;
  background-color: #312F2F;
}

.tags {
  text-align: center;
  padding-top: 20px;
}

.titleRow {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 0 50px 10%;
  box-sizing: border-box;
  align-items: center;
}

/* styleClasses */

.profile .imgURL {
  width: 100%; /* Se asegura que la imagen se ajuste a su contenedor */
  max-width: 200px; /* Ancho máximo deseado */
  height: auto; /* Mantiene la proporción de la imagen */
  max-height: 200px; /* Altura máxima */
  display: block;
  margin: 20px auto 0;
  object-fit: cover; /* Asegura que la imagen llene el contenedor sin distorsionarse */
}

.profile .title,
.personal .title {
  text-align: center;
}

.hero .titleRow {
  margin-top: 300px;
}

.hero .tags {
  text-align: center;
  padding-top: 20px;
  z-index: 9999;
  position: absolute;
  display: block;
  width: 75%;
  max-width: 800px;
  min-width: 500px;
}

.hero .imgURLbox {
  position: absolute;
  top: 0;
  width: 75%;
  max-width: 800px;
  min-width: 500px;
  margin: 0 auto;
  height: 300px;
  overflow: hidden;
}

.hero .imgURL {
  width: fit-content;
  height: auto;
  max-width: 800px;
  align-self: center;
}

.hero-w .titleRow {
  margin-top: 300px;
}

.hero-w .tags {
  text-align: center;
  padding-top: 20px;
  z-index: 9999;
  position: absolute;
  display: block;
  width: 75%;
  max-width: 800px;
  min-width: 500px;
}

.hero-w .imgURLbox {
  position: absolute;
  top: 0;
  width: 75%;
  max-width: 800px;
  min-width: 500px;
  margin: 0 auto;
  height: 300px;
  overflow: hidden;
}

.hero-w .imgURL {
  width: fit-content;
  height: auto;
  max-width: 800px;
  align-self: center;
}

/* Media query para pantallas de xxs a sm */
@media only screen and (max-width: 784px) {
  .modalContent {
    width: 90%;
  }

  .closeModal {
    right: 6%;
    z-index: 9999;
  }

  .hero .imgURLbox, .hero .tags {
    width: 90%;
  }
}
