/* ALL TAGS */
.tag {
  text-align: center;
  font-size: 12px;
  color: #1d262e;
  display: inline-block;
  padding: 6px 10px;
  margin: 0;
  border: .5px #1d262e solid;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  /*letter-spacing: 1px;*/
}

/* Puedes tener estilos específicos si es necesario */

.tag-Frontend {
  border: .5px solid #f62dae;
  color: #f62dae;
}

.tag-Backend {
  border: .5px solid #3185fc;
  color: #3185fc;
}

.tag-Personal {
  border: .5px solid #fc440f;
  color: #fc440f;
}

.tag-Inicio {
  border: .5px solid #1d262e;
  color: #1d262e;
}

/* styleClasses */

/* RESPONSIVE */ 

