/* ALL TAGS */
.tag {
  text-align: center;
  font-size: 12px;
  color: #312F2F;
  display: inline-block;
  padding: 6px 20px;
  margin-right: 10px;
  border: .5px #312F2F solid;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  letter-spacing: 1px;
}

/* Puedes tener estilos específicos si es necesario */

.tag-Frontend {
  border: .5px solid #04d9ff;
  color: #04d9ff;
}

.tag-Backend {
  border: .5px solid #043ded;
  color: #043ded;
}

.tag-Personal {
  border: .5px solid #ff11ff;
  color: #ff11ff;
}

.tag-Inicio {
  border: .5px solid #312F2F;
  color: #312F2F;
}