/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Estilos generales para el documento */
html {
    background-color: #E3EAF2;
    /* Color de fondo claro */
    font-family: "Fira Sans", sans-serif;
    color: #312F2F;
    max-width: 1280px;
    min-width: 550px;
    margin: 15px auto 20px;
}

p {
    font-size: 14px;
    padding-bottom: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h2 {
    line-height: 12px;
    letter-spacing: 1px;
}
.boldword {
    font-weight: 600;
}